/* Write your global styles here, in PostCSS syntax */

@import '@fontsource/fira-mono';

@tailwind base;

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}

@tailwind components;

@tailwind utilities;
